{% extends 'base.html' %}
{% load static %}
{% block title %} Encuesta {% endblock %}

{% block contenido %}
<h1>Tienda Merkachecheres</h1> 
    <h1>Formulario</h1>
    <form action="{% url 'procesar_encuesta' %}" method="post">
        {% csrf_token %}
        <label>Nombre:</label><br>
        <input type="text" id="name" name="name" required=""><br>
        <label>Tiene hambre?</label><br>
        <label for="si">Si tengo</label>
        <input type="radio" name="hambre" value="si" id="si" required="" ><br>
        <label for="no">No tengo</label>
        <input type="radio" name="hambre" value="si" id="no" required=""><br>
        <button type="submit">Enviar</button>
    </form>

    {% include "formulario_encuesta.html" %}
{% endblock %}
